<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

<table width="1038" border="1">
{#  <tr>#}
{#    <td width="96"><a href="/Dr_register">Register</a></td>#}
{#  </tr>#}
{#   <tr> #}
{#    <td><a href="/LOGIN">Login</a></td>#}
{#    </tr>#}
{#    <tr>#}
    
    <td><a href="/Change_password">Change Password</a></td>
    </tr>
    <tr>
    <td><a href="/dr_view_profile">Profile</a></td>
    </tr> <tr>
    <td><a href="/Dr_schedule">Schedule</a></td>
    </tr>
    <tr>
    <td width="48"><a href="/Dr_register_update">Update Registration</a></td>
    </tr>
    <tr>
    <td width="152"><a href="/View_Booking">View Booking</a></td>
    </tr>
    <tr>
    <td width="107"><a href="/View_User">View User</a></td></tr>
    <tr>
    <td width="92"><a href="/View_report">View report</a></td></tr>
    <tr>
    <td width="69"><a href="/View_prescription">View prediction History</a></td>
    </tr>
    <tr>
    <td width="74"><a href="/Schedule_manage"> Manage schedule</a></td>
  </tr>
    <tr>
        <td><td width="90"><a href="/View_feedback"> View Feedback</a></td></td>
    </tr>
</table>
</form>