<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="372" border="1">
  <tr>
      <td>Sl.No</td>
      <td>Day</td>
      <td>From_time</td>
      <td>To_time</td>
      <td></td>
  </tr>
      {% for i in data %}
  <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["Day"] }}</td>
      <td>{{ i["D_from_time"] }}</td>
      <td>{{ i["D_to_time"] }}</td>
      <td><a href="/Dr_schedule_Delete/{{i["S_id"]}}">Delete</a></td>
  </tr>
      {% endfor %}





  </table>
</form>
</body>
</html>
