<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="col"><p>Sl. No</p></th>
      <th scope="col">User Name</th>
      <th scope="col">Booking Date</th>
      <th scope="col">Schedule Info</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["U_name"] }}</td>
      <td>{{ i["B_date"] }}</td>
      <td>{{ i["D_from_time"]  }}<br>{{ i["D_to_time"] }}<br>{{ i["Day"] }}</td>
      <td><a href ="/doctor_add_presciption/{{ i["U_Login_id"] }}">add prescription</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
